/.vscode
/release
/release-64
/Plugins/HTMLToMarkdownRust/target
/Plugins/ReadPDF/target
/Plugins/Speak/target
Plugins/GUICPP/XGUI.dll.manifest
/Archive
/Releases
/AgentTeamApprovals
workspace.code-workspace
*.exe
*.zip
/AITeamReviewing
*.xojo_uistate
*.d
*.res
*.exp
*.lib
*.log
*.lock
*.pdb
*.tag
/Documentation
/CrossBasic/cbarchive
/Plugins/HTMLToMarkdown/target
*.a
/Website
*.so
/release-64-linux
/release-64-windows
/release-64-linux2
Scripts/code.txt
Scripts/code.txt
Plugins/SQLiteDatabase/deps/sqlite3.dll
Plugins/LLMConnection/deps/libcurl-x64.dll
