#include <windows.h>

101 ICON "xcompile.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Simulanics Technologies"
            VALUE "FileDescription", "CrossBasic Compiler"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "CrossBasic Compiler"
            VALUE "LegalCopyright", "© 2025 Simulanics Technologies"
            VALUE "OriginalFilename", "xcompile.exe"
            VALUE "ProductName", "CrossBasic Compiler"
            VALUE "ProductVersion", "1.0.0.0-beta"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END